/**
 * Color scheme from http://colorschemedesigner.com/#3E11Tw0w0w0w0
 */
.block-container {
  max-width: 50em;
  width: 50em; }

.block-posts article:first-child {
  margin-top: 0; }

@supports (display: flex) {
  .block-single-aside {
    flex: none; } }

@supports not (display: flex) {
  .block-single-aside {
    float: none;
    width: auto;
    margin-left: 0;
    width: auto; } }

.block-single-aside .navigation-main {
  width: 32%; }

.block-single-container hgroup {
  margin-bottom: 1em; }

@supports (display: flex) {
  .block-single-container .container-inner {
    display: flex;
    flex-wrap: wrap; } }

@supports not (display: flex) {
  .block-single-container .container-inner:after {
    content: "";
    display: table;
    clear: both; } }

.block-single-container .container-inner > div[role='main'] {
  width: 66%; }

header[role="banner"] hgroup {
  flex: 1; }

main ~ aside > article {
  flex: 0 0 33.33%; }

dl.list-skills {
  display: grid;
  grid-template-columns: 11em 1fr; }
  dl.list-skills dt {
    font-weight: normal; }

body.index .layout-content main ~ aside {
  display: block; }

@supports (display: grid) {
  body.index .layout-container {
    display: block; }
    body.index .layout-container .layout-content {
      display: grid;
      grid-template-columns: 66.66667% 33.33333%;
      grid-template-rows: auto 1fr; }
      body.index .layout-container .layout-content > header {
        flex-direction: column;
        grid-column: 2;
        grid-row: 1; }
        body.index .layout-container .layout-content > header hgroup {
          flex: none;
          order: 2; }
          body.index .layout-container .layout-content > header hgroup h1 {
            line-height: normal;
            text-transform: uppercase; }
            body.index .layout-container .layout-content > header hgroup h1 a {
              display: block; }
              body.index .layout-container .layout-content > header hgroup h1 a span {
                display: block;
                line-height: 0.8em; }
              body.index .layout-container .layout-content > header hgroup h1 a .first {
                font-size: 2.65em; }
              body.index .layout-container .layout-content > header hgroup h1 a .second {
                font-size: 1.50em; }
        body.index .layout-container .layout-content > header nav {
          flex: none;
          margin-bottom: 0.5em;
          order: 1; }
      body.index .layout-container .layout-content > main {
        align-self: start;
        grid-column: 1;
        grid-row: 1 / span 2;
        margin-right: 1em;
        margin-top: 5em; }
      body.index .layout-container .layout-content > aside {
        align-self: start;
        grid-column: 2;
        grid-row: 2; }
      body.index .layout-container .layout-content > footer {
        grid-column: auto / span 2;
        grid-row: 3; }
  header[role="banner"] hgroup {
    align-self: flex-start; } }

@supports not (display: grid) {
  body.index .layout-content:after {
    content: "";
    display: table;
    clear: both; }
  body.index .layout-content > main {
    float: left;
    margin-right: 2%;
    width: 64.66667%; }
  body.index .layout-content > aside {
    float: right;
    width: 33.33333%; }
  body.index .layout-content > footer {
    clear: left;
    float: left;
    width: 100%; } }

#MasterFooter {
  height: 3em; }
  @supports (display: flex) {
    #MasterFooter {
      display: flex;
      flex-wrap: wrap; } }
  @supports not (display: flex) {
    #MasterFooter:after {
      content: "";
      display: table;
      clear: both; } }
  #MasterFooter a {
    font-size: 0.9em; }
  #MasterFooter .grid-item {
    width: 66%; }

@supports (display: flex) {
  #SplashContainer .container-inner {
    display: flex;
    flex-wrap: wrap; } }

@supports not (display: flex) {
  #SplashContainer .container-inner:after {
    content: "";
    display: table;
    clear: both; } }

#SplashContainer .container-inner > div[role='main'] {
  width: 66%; }

#SplashContent {
  padding-top: 5em; }

#SplashHeader {
  display: block; }

#SplashHeaderMobile {
  display: none; }

@supports (display: flex) {
  #SplashSidebar .grid-row {
    flex: none; } }

@supports not (display: flex) {
  #SplashSidebar .grid-row {
    float: none;
    width: auto;
    margin-left: 0;
    width: auto; } }
