extends layout

block vars
  - var bodyclass = 'index'

block header
  h1
    a(href=locals.url)
      span.first I CAN 
      span.second HAS WEB
  h3.site-description= locals.description

block content
  include author
  include ./articles.jade

block aside
  article.block-content
    h3 About
    p
      a(href="http://icanhasweb.net") icanhasweb.net
      |  is the online home of 
      a(href="mailto:arne.hassel@gmail.com") Arne Hassel
      |, a web developer living and working in Oslo, Norway.
  article.block-content
    h3 Photo
    .block-photo
      img(src=locals.url+"/img/uio200_200px.jpg", alt="A photo of me")
  article.block-content
    h3 Profiles
    p My public profiles on the web.
    ul
      li
        a(href="http://about.me/megoth") about.me
      li
        a(href="http://delicious.com/megoth") delicious
      li
        a(href="http://facebook.com/arne.hassel") facebook
      li
        a(href="https://github.com/megoth") github
      li
        a(href="http://linkedin.com/in/arnehassel") linkedin
      li
        a(href="http://twitter.com/megoth") twitter
  article.block-content
    h3 Work
    p Projects I've contributed to.
    ul
      li
        a(href="http://communicaretools.org/") CommuniCare tools
      li
        a(href="https://github.com/megoth/graphitejs") graphitejs
      li
        a(href="http://holderdeord.no/") Holder de ord
      li
        a(href="https://github.com/megoth/minimalist") minimalist
  article.block-content
    h3 Content
    p Content on this site.
    ul
      li
        a(href="http://graphitethesis.icanhasweb.net/") Master thesis
      li
        a(href="http://cv.icanhasweb.net/") Curriculum Vitae