extends layout

block vars
  - var bodyclass = 'projecs'

block content
  - all_projects = _(contents.projects).chain().filter(function (item, key) {
  -   return key !== 'index.md';
  - }).map(function (directory) {
  -   return directory.index;
  - }).sortBy(function (project) {
  -   return project.title.toLowerCase();
  - }).value();
  .block-content
    != page.html
  h2 Active projects
  p.block-content Projects that I'm actively taking part in.
  - projects = _(all_projects).filter(project => project.metadata.status === 'active');
  include projectList
  h2 Previous projects
  p.block-content Projects that are active but where I've completed my active participation.
  - projects = _(all_projects).filter(project => project.metadata.status !== 'active' && project.metadata.project === 'active');
  include projectList
  h2 Completed or inactive projects
  p.block-content Projects I've participated in before, and/or projects that simply aren't in active development anymore.
  - projects = _(all_projects).filter(project => project.metadata.status !== 'active' && project.metadata.project !== 'active');
  include projectList
