.block-posts
  dl
    each project in projects
      dt
        a(href=project.url)= project.title
      dd
        section.block-content
          != project.html
        p.meta
          include projectMeta
