extends layout

block vars
  - var bodyclass = 'projecs'

block content
  - all_projects = _(contents.projects).chain().filter(function (item, key) {
  -   return key !== 'index.md';
  - }).map(function (directory) {
  -   return directory.index;
  - }).sortBy(function (project) {
  -   return project.title.toLowerCase();
  - }).value();
  .block-content
    p Here are all projects that I have some association with and that have a public repository.
  - projects = _(all_projects).filter(function (project) {
  -   return project.metadata.status === 'active';
  - });
  h2 Active projects
  p Projects that are maintained and that I am having an active role in.
  include projectList
  - projects = _(all_projects).filter(function (project) {
  -   return project.metadata.status !== 'active';
  - });
  h2 Not active projects
  p Projects I've participated in before, and/or projects that simply aren't in active development anymore.
  include projectList
  