.block-posts
  each project in projects
    article
      header
        h3
          a(href=project.url)= project.title
        p.meta
          include projectMeta
      section.block-content
        != project.html