extends layout

block header
  h1
    a(href=locals.url)= locals.name
  h3 Articles for "#{ tagName }"

block content
  - pages = env.helpers.getArticlesByTag(contents, tagName);
  - projects = _(pages).filter(function (page) { return !page.metadata.date; });
  if projects.length > 0
    h2 Projects
    include projectList
  - talks = _(pages).filter(function (page) { return page.metadata.date && page.metadata.repository; });
  if talks.length > 0
    h2 Talks
    include talkList
  - articles = _(pages).filter(function (page) { return page.metadata.date && !page.metadata.repository; });
  if articles.length > 0
    h2 Blog posts
    include articleList